        /*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/*.container * {
    border: 1px solid red;
}*/

header::after, .container::after, .green-line::after{
    content: "";
    clear: both;
    display: block;
}

.clear-fix::after {
    content: "";
    clear: both;
    display: block;
}

a {
    text-decoration:none;
    color: rgb(255,255,255);
    padding: 10px;
}

        /*header*/

header {
    width: 100%;
    background-color: black;
    color: #fff;
}

header:first-child .container {
    padding: 5px 0 0 5px;
}

.logo span {
    color: rgb(83, 198, 183);
}

.slider {
    background: linear-gradient(top, white, lightgrey);
    background: lightgrey; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, white, lightgrey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, white, lightgrey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, white, lightgrey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, white, lightgrey); /* Standard syntax */
    padding: 50px 0;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0 50px 0;
}

.logo {
    width: 50%;
    float: left;
}

.logo p {
    text-transform: uppercase;
    font-weight: bold;
}

nav {
    width: 50%;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}

ul li {
    list-style: none;
    float: right;
    padding: 10px;
}


        /*section*/

.green-line {
    width: 30%;
    height: 10px;
    background-color: rgb(83, 198, 183);
}

h1 {
    padding: 20px 0 0 0 ;
    text-align: center;
    text-transform: uppercase;
}

h1 span {
    color: rgb(83, 198, 183);
}

.box1, .box2 {
    width: 50%;
    float: left;
}

.box2 p {
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.button {
    width: 200px;
    margin-top: 40px;
    background-color: rgb(83, 198, 183);
    margin-left: 29%;
    border-radius: 5px;
}

.button p {
    color: white;
    text-transform: uppercase;
}

        /*section2*/

h2 {
    font-size: 18px;
}
img {
    height: 100%;
    width: 94%;
}

.box3, .box4, .box5{
    width: 32.777%;
    float: left;
}

.container .box3 {
    padding-right: 5px;
    position: relative;
}
.container .box4 {
    padding: 0 5px 0 5px;
    position: relative;
}

.container.box5 {
    padding-left: 5px;
}

.box5 {
    border: 1px solid lightgrey;
}

p, h2, h3 {
    padding: 10px;
}

.box5 .green-line {
    width: 60%;
    margin-left: 10px;
}
.box5 p {
    color: rgb(128, 128, 128);
}

.chair-name {
    width: 93%;
    height: 50px;
    background-color: rgba(255,255,255, 0.7);
    position: absolute;
    bottom: 20px;
}

.chair-name  p {
    padding: 10px 0 0 10px;
}

.chair-name .green-line {
    width: 45%;
    margin: 0 0 0 10px;
}

        /*section 3*/
h3 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 300;
}
.mid {
    background-color: rgba(209,209,209, 0.3);
}
.row {
    padding-top: 60px;
}

.row h3 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(83, 198, 183);
}

.row span {
    font-size: 26px;

}

.box6,.box7, .box8 {
    width: 30%;
    height: 530px;
    float: left;
    border: 1px solid lightgray;
    padding-top: 10px;
    position: relative;
    background-color: white;
}

.row li {
    color: gray;
}

.round-oudside {
    margin: 0 auto;
    width: 45px;
    height: 45px;
    background-color: lightgray;
    border: 10px solid white;
    border-radius: 50%;
    box-shadow: 0 0 0 2px lightgray;
    position: absolute;
    top: -25px;
    left: 123px;
}

.round-inside{
    width:140px;
    height: 130px;
    border-radius: 89%;
    padding-top: 40px;
    border: 1px solid lightgray;
    background-color: white;
    position: absolute;
    top: 125px;
    left: 78px;
    color: lightgray;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.round-inside p {
    padding: 0;
    text-align: center;
}

.box6, .box7, .box8 h3 {
    padding-top: 70px;
}

.box6 ul, .box7 ul, .box8  ul {
    padding-top: 170px;
    padding-bottom: 30px;
    list-style: initial;
    float: none;
}

        /*box 6*/
.box6 ul {
    padding-bottom: 110px;
}

.box6 li, .box7 li, .box8 li {
    padding-top: 10px;
    list-style: none;
    float: none;
    text-align: center;
}

.box6 li:nth-child(odd), .box8 li:nth-child(odd) {
    background-color: lightgray;
}
.box6 li:nth-child(even), .box8 li:nth-child(even) {
    background-color: rgba(209,209,209, 0.3);
}

        /*box 7*/
.box7 {
    border: 1px solid rgb(83, 198, 183);
    margin-left: 39px;
    margin-right: 38px;
    background-color: rgb(83, 198, 183);
}
.box7 .round-oudside {
    background-color: rgb(83, 198, 183);
    box-shadow: 0 0 0 2px rgb(83, 198, 183);
}
.box7 h3 {
    color: white;
}

.box7 span {
    color: rgb(83, 198, 183);
}

.box7 li:nth-child(even) {
    background-color: lightgray;
}
.box7 li:nth-child(odd) {
    background-color: white;
}

.box7 a {
    color: rgb(83, 198, 183);
}

.box7 ul {
    padding-bottom: 68px;
}

.box7 .button p {
    border-radius: 5px;
    background-color: white;
    color: rgb(83, 198, 183);
}

.row .button {
    margin: 0 auto;
    height: 40px;
    width: 100px;
    text-align: center;
}

    /*section 3 contact*/
    /*section 3 left side*/
h4 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 300;
}
.contact {
    width: 55%;
    float: left;
}
.contact .green-line {
    width: 50%;
}

input {
    margin-top: 10px;
    width: 100%;
    padding: 13px;
    border:1px solid rgb(83, 198, 183);
    font-size: 20px;
    outline: 0 none;
}

textarea {
    margin-top: 10px;
    height: 130px;
    width: 100%;
    font-size: 20px;
    padding: 13px;
    border:1px solid rgb(83, 198, 183);
    outline: 0 none;
}

.contact .green-line {
    padding-bottom: 10px;
}

input[name*="message"] {
    height: 150px;
    padding-top: 0;
}

        /*section 3 right side*/
.send {
    float: right;
    width: 40%;
    padding-left: 60px;
}

.send :first-child {
    margin: 0 auto;
    width: 90%;
}

.send :nth-child(2) {
    width: 15%;
    border: 1px solid rgb(83, 198, 183);
}

.send p {
    display: block;
    float: right;
}

.checked img {
    width: 60px;
    height: 50px;
    border: 1px solid rgb(83, 198, 183);
}

        /*footer*/
.cp-rights {
    width: 60%;
    float: left;
}

.footer-list {
    width: 20%;
    float: left;
}

footer .logo {
    width: 20%;
    float: right;
}

footer ul {
    padding-right: 10px;
}

footer li {
    padding: 0 2px 0 2px;
}

footer .container {
    color: rgb(128, 128, 128);
}

footer .logo span {
    color: rgb(128, 128, 128);
    font-weight: 900;
}


footer .logo {
    padding-left: 45px;
}

li a {
    padding: 0 2px 0 2px;
}

.logo p {
    font-size: 16px;
    font-weight: 400;
}
